@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: blue orange;
  
}

.nav-links {
  display: flex;
  gap: 40px;
  position: relative;
}

.nav-child-links {
  display: none;
  color: red;
  position: absolute;
}

.nav-links li:hover .nav-child-links {
  display: flex;
  flex-direction: column;
  font-size: small;
  background-color: #1f2c3a;
  color: whitesmoke;
}

.hero {
  background-image: url("https://images.thedirect.com/media/article_full/black-panther-2-tchalla-death.jpg?imgeng=cmpr_75/");
}
