 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: blue orange;
  
}

.nav-child-links {
  display: none;
  color: red;
  position: absolute;
}

.nav-links li:hover .nav-child-links {
  display: flex;
  flex-direction: column;
  font-size: small;
  background-color: #1f2c3a;
  color: whitesmoke;
}

.hero {
  background-image: url("https://images.thedirect.com/media/article_full/black-panther-2-tchalla-death.jpg?imgeng=cmpr_75/");
}
